
.simpleNavRouterBar {
	height: 30px;
	width: 100%;
	background: black;
	font-family: 'Alegreya Sans', sans-serif;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
	margin: 0;
	border: 0;
}
.simpleNavRouterBarItem {
	color: #DDD;
	margin-left: 50px;
	padding-top: 20px;
}
.simpleNavRouterBarItem a {
	text-decoration: none;
}
