#AppContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	}

.simpleNavRouterBar {
	height: 30px;
	width: 100%;
	background: #111;
	font-family: sans-serif;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
	}
.simpleNavRouterBarTitle {
	display: inline;
	font-size: larger;
	padding-right: 20px;
	}
.simpleNavRouterBarItem {
	color: #DEE;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	text-decoration: none;
	}
.simpleNavRouterBarItem:hover {
	color: #FFF;
	background: #444;
	}
